<h2>Set Task Reminder</h2>

<button type="button" (click)="requestNotificationPermission()">
  Enable Notifications
</button>

<form [formGroup]="reminderForm" (ngSubmit)="setReminders()">
  <div formArrayName="reminders">
    @for (reminder of reminders.controls; track reminder.value.id; let i = $index) {
      <div [formGroupName]="i" class="reminder-group">

        <label [for]="'time-' + i">Select Time:</label>
        <input 
          type="datetime-local" 
          formControlName="time" 
          required 
          [readonly]="!acceptNewTasks()" 
          [id]="'time-' + i" 
        />

        <label [for]="'message-' + i">Reminder Message:</label>
        <input 
          type="text" 
          formControlName="message" 
          required 
          [readonly]="!acceptNewTasks()" 
          [id]="'message-' + i" 
        />

        @if (reminders.length > 1) {
          <button type="button" class="remove" (click)="removeReminder(i)">
            &times;
          </button>
        }

      </div>
    }
  </div>

  <button 
    type="button" 
    (click)="addReminder()" 
    [disabled]="checkAddReminderDisabled()">
    Add Reminder
  </button>

  <button 
    type="submit" 
    [disabled]="checkSubmitDisabled()">
    Set Reminders
  </button>
</form>